<h1>Login page</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username" id="">
    <input type="password" name="password" placeholder="password" id="">
    <button>Login</button>
</form>